doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    block content
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
